# Created by https://www.gitignore.io/api/windows
# Edit at https://www.gitignore.io/?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
*.VC.db
*.ipch
/.vscode
/pagmo2/.vscode
/**/*.db
# Build dirs.
build*
/.vs
# Temp files.
*~
*.bak
.DS_Store

# .orig files from patch.
*.orig

# .so
*.so

# .out
*.out

# Generated docs
doc/doxygen/html/*
doc/doxygen/latex/*
doc/doxygen/xml/*

# Generated doc configuration files.
doc/doxygen/Doxyfile
doc/sphinx/conf.py

doc/sphinx/_build

# VS files
*.vcxproj*

# End of https://www.gitignore.io/api/windows