# Build dirs.
build*

# Temp files.
*~
*.bak
.DS_Store

# .orig files from patch.
*.orig

# .so
*.so

# .out
*.out

# Generated docs
doc/doxygen/html/*
doc/doxygen/latex/*
doc/doxygen/xml/*

# Generated doc configuration files.
doc/doxygen/Doxyfile
doc/sphinx/conf.py

doc/sphinx/_build

# Specific to editors setting
.vscode/*
