# Build dirs.
build*

# Editor config files.
.vscode

# Temp files.
*~
*.bak
.DS_Store

# .orig files from patch.
*.orig

# .so
*.so

# .out
*.out

# Third party submodules
include/external/cereal/*

# Generated docs
doc/doxygen/html/*
doc/doxygen/latex/*
doc/doxygen/xml/*
doc/doxygen/images/*

doc/sphinx/_build
